# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [14]:
data.groupby(['CustomerID', 'ProductName']).sum()[['Quantity']]

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [23]:
prod_cust = pd.pivot_table(data, values='Quantity', index='ProductName',
                           columns='CustomerID', aggfunc='sum').fillna(0)
prod_cust

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [33]:
sim_matrix = pd.DataFrame(1/(1+squareform(pdist(prod_cust.T))),
                          index=prod_cust.columns, columns=prod_cust.columns)
sim_matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [47]:
def topsimilar(df, customer_id, quantity=5):
    return df.loc[[customer_id]].T.sort_values(customer_id, ascending=False).head(quantity+6).rename(columns={customer_id: 'Similarity'})

In [51]:
topfor33 = topsimilar(sim_matrix, 33)
topfor33

CustomerID  Similarity
CustomerID
33            1.000000
3317          0.087047
3535          0.087047
264           0.087047
2503          0.085983
3305          0.085638

In [52]:
topfor98200 = topsimilar(sim_matrix, 98200)
topfor98200

CustomerID  Similarity
CustomerID
98200         1.000000
11883         0.004456
14782         0.004456
32324         0.004449
14208         0.004443
32180         0.004427

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [73]:
sim_33 = data.groupby(['CustomerID', 'ProductName']).sum()[['Quantity']].loc[topfor33.index[1:]]
sim_33

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [75]:
sim_33_pur = sim_33.groupby('ProductName').sum().sort_values('Quantity', ascending=False)
sim_33_pur

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3
...                                 ...
Hinge W Undercut                      1
Ice Cream Bar - Hageen Daz To         1
Jagermeister                          1
Jolt Cola - Electric Blue             1
Yogurt - French Vanilla               1

[218 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [107]:
rec_33 = []

for item in sim_33_pur.index:
    if item not in data.groupby(['CustomerID', 'ProductName']).sum()[['Quantity']].loc[33].index:
        rec_33.append(item)

In [114]:
sim_33_pur.loc[rec_33].head().index

Index(['Butter - Unsalted', 'Wine - Ej Gallo Sierra Valley',
       'Soup - Campbells Bean Medley', 'Wine - Blue Nun Qualitatswein',
       'Chicken - Soup Base'],
      dtype='object', name='ProductName')

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [175]:
clients = data['CustomerID'].unique()
prod_cust = pd.pivot_table(data, values='Quantity', index='ProductName',
                           columns='CustomerID', aggfunc='sum').fillna(0)
sim_matrix = pd.DataFrame(1/(1+squareform(pdist(prod_cust.T))),
                          index=prod_cust.columns, columns=prod_cust.columns)
rec_item = {}

for item in clients:
    topfor_item = sim_matrix.loc[[item]].T.sort_values(item,
                                                       ascending=False).head(6).rename(columns={item:
                                                                                                'Similarity'})
    sim_item = data.groupby(['CustomerID', 'ProductName']).sum()[['Quantity']].loc[topfor_item.index[1:]]
    simpur_item = sim_item.groupby('ProductName').sum().sort_values('Quantity', ascending=False)
    pur_item = data.groupby(['CustomerID', 'ProductName']).sum()[['Quantity']].loc[item]
    rec = []
    for prod in simpur_item.index:
        if prod not in pur_item.index:
            rec.append(prod)
    rec_item.update({item: rec})

In [184]:
rec_item[200]

['Soup - Campbells Bean Medley',
 'Muffin - Carrot Individual Wrap',
 'Bay Leaf',
 'Pork - Kidney',
 'Wanton Wrap',
 'Chips Potato Salt Vinegar 43g',
 'Table Cloth 54x72 White',
 'Chinese Foods - Chicken',
 'Lime Cordial - Roses',
 'Soupfoamcont12oz 112con',
 'Lamb - Pieces, Diced',
 'Cheese Cloth No 100',
 'Dried Figs',
 'Eggplant - Asian',
 'Soup - Campbells, Beef Barley',
 'Ezy Change Mophandle',
 'Fish - Scallops, Cold Smoked',
 'Foam Dinner Plate',
 'Fondant - Icing',
 'Garbage Bags - Clear',
 'Sole - Dover, Whole, Fresh',
 'Sausage - Liver',
 'Scallops - 10/20',
 'Ice Cream Bar - Hageen Daz To',
 'Ice Cream Bar - Oreo Cone',
 'Juice - Orange',
 'Scallops 60/80 Iqf',
 'Scampi Tail',
 'Black Currants',
 'Wine - Toasted Head',
 'Wine - Magnotta, Merlot Sr Vqa',
 'Pate - Cognac',
 'Wine - Chardonnay South',
 'Wine - Charddonnay Errazuriz',
 'Beef Wellington',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Red, Harrow Estates, Cab',
 'Beans - Kidney, Canned',
 'Bread - Rye',
 'Muffin Batt - Blueberry Passion',
 'Pasta - Detalini, White, Fresh',
 'Cake - Box Window 10x10x2.5',
 'Vanilla Beans',
 'Cheese - Boursin, Garlic / Herbs',
 'Cheese - Brie, Triple Creme',
 'Oranges - Navel, 72',
 'Pasta - Orecchiette',
 'Pasta - Penne, Rigate, Dry',
 'Sausage - Breakfast',
 'Pasta - Angel Hair',
 'Pork - Inside',
 'Pastry - Choclate Baked',
 'Pepper - Paprika, Hungarian',
 'Rice - Jasmine Sented',
 'Raspberries - Fresh',
 'Phyllo Dough',
 'Placemat - Scallop, White',
 'Pomello',
 'Puree - Passion Fruit',
 'Pork - Loin, Bone - In',
 'Potatoes - Instant, Mashed',
 'Soupcontfoam16oz 116con',
 'Sea Bass - Whole',
 'Shrimp - Baby, Warm Water',
 'Veal - Inside, Choice',
 'Veal - Osso Bucco',
 'Vol Au Vents',
 'Water, Tap',
 'Whmis - Spray Bottle Trigger',
 'Wine - Cahors Ac 2000, Clos',
 'Wine - Ej Gallo Sierra Valley',
 'Wine - Fume Blanc Fetzer',
 'Wine - Magnotta - Belpaese',
 'Wine - Red, Colio Cabernet',
 'Wine - Valpolicella Masi',
 'Wine - Wyndham Estate Bin 777',
 'Wonton Wrappers',
 'Yeast Dry - Fermipan',
 'Turkey - Whole, Fresh',
 'Towels - Paper / Kraft',
 'Skirt - 29 Foot',
 'Smirnoff Green Apple Twist',
 'Sobe - Tropical Energy',
 'Soup Campbells - Italian Wedding',
 'Pail For Lid 1537',
 'Spinach - Baby',
 'Sprouts - Baby Pea Tendrils',
 'Tofu - Firm',
 'Squid - Tubes / Tenticles 10/20',
 'Steam Pan - Half Size Deep',
 'Sugar - Fine',
 'Tea - Decaf Lipton',
 'Tea - Herbal Sweet Dreams',
 'Tea - Jasmin Green',
 'Papayas',
 'Anchovy Paste - 56 G Tube',
 'Otomegusa Dashi Konbu',
 'Cheese - Wine',
 'Butter - Unsalted',
 'Cheese - Cambozola',
 'Cheese - Parmesan Grated',
 'Cheese - Victor Et Berthold',
 'Chicken - Soup Base',
 'Bread - Bistro White',
 'Cod - Black Whole Fillet',
 'Cookie - Dough Variety',
 'Cookies - Assorted',
 'Corn Meal',
 'Cornflakes',
 'Crab - Dungeness, Whole',
 'Crab - Imitation Flakes',
 'Cup - Translucent 7 Oz Clear',
 'Bread Crumbs - Panko',
 'Dc Hikiage Hira Huba',
 'Appetizer - Sausage Rolls',
 'Apricots - Dried',
 'Apricots - Halves',
 'Bandage - Fexible 1x3',
 'Barramundi',
 'Beans - Kidney White',
 'Beef - Chuck, Boneless',
 'Beef - Rib Eye Aaa',
 'Berry Brulee',
 'Beef - Short Loin',
 'Beef - Striploin Aa',
 'Beef - Top Sirloin - Aaa',
 'Beer - Blue',
 'Beer - Rickards Red',
 'Beer - Sleemans Cream Ale',
 'Curry Paste - Madras',
 'Oregano - Dry, Rubbed',
 'Macaroons - Two Bite Choc',
 'Meldea Green Tea Liquor',
 'Milk - 2%',
 'Milk Powder',
 'Appetizer - Mini Egg Roll, Shrimp',
 'Mushroom - Porcini, Dry',
 'Nantucket - Pomegranate Pear',
 'Nut - Chestnuts, Whole',
 'Ocean Spray - Kiwi Strawberry',
 'Ocean Spray - Ruby Red',
 'Oil - Safflower',
 'Oil - Shortening - All - Purpose',
 'Onions - Cippolini',
 'Longos - Grilled Salmon With Bbq',
 'Lettuce - Spring Mix',
 'Ecolab - Mikroklene 4/4 L',
 'Ice Cream Bar - Drumstick',
 'Ecolab - Solid Fusion',
 'Fenngreek Seed',
 'French Pastry - Mini Chocolate',
 'Garlic - Elephant',
 'Garlic - Primerba, Paste',
 'General Purpose Trigger',
 'Gloves - Goldtouch Disposable',
 'Guinea Fowl',
 'Isomalt',
 'Lettuce - Frisee',
 'Jagermeister',
 'Juice - Apple Cider',
 'Kellogs Special K Cereal',
 'Ketchup - Tomato',
 'Knife Plastic - White',
 'Lambcasing',
 'Yoghurt Tubes']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [199]:
rec_df = pd.DataFrame()

for ID in rec_item.keys():
    rec_df[ID] = pd.Series(rec_item[ID][:5])

In [203]:
rec_df

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Jagermeister,Wine - Valpolicella Masi,Bread - Italian Corn Meal Poly,Squid - Tubes / Tenticles 10/20,Vanilla Beans,Cocoa Butter,Juice - Lime,Bread - French Baquette,Soup Knorr Chili With Beans,Wine - White Cab Sauv.on,...,Beef - Top Sirloin,"Pasta - Penne, Rigate, Dry",Milk - 2%,Cheese - Mix,Chips Potato Salt Vinegar 43g,"Pasta - Penne, Rigate, Dry",Veal - Inside,Olives - Kalamata,"Veal - Brisket, Provimi,bnls","Pepper - Black, Whole"
1,Chicken - Soup Base,Tahini Paste,Puree - Mocha,Sprouts - Baby Pea Tendrils,Lettuce - Frisee,"Cheese - Boursin, Garlic / Herbs",Tomatoes Tear Drop,Bandage - Flexible Neon,Soupfoamcont12oz 112con,Cheese - Mozzarella,...,Grouper - Fresh,Coffee - Hazelnut Cream,Bay Leaf,Rum - Mount Gay Eclipes,Fenngreek Seed,Browning Caramel Glace,"Thyme - Lemon, Fresh",Wine - White Cab Sauv.on,Beef - Ground Medium,Knife Plastic - White
2,Lime Cordial - Roses,Tuna - Salad Premix,Tuna - Salad Premix,Flavouring - Orange,"Yogurt - Blueberry, 175 Gr",Garlic - Peeled,Pomello,"Lentils - Red, Dry",Veal - Sweetbread,"Lemonade - Natural, 591 Ml",...,Soup Knorr Chili With Beans,Soup Knorr Chili With Beans,"Veal - Inside, Choice",Muffin Mix - Blueberry,Isomalt,Tea - Decaf Lipton,Wonton Wrappers,Veal - Eye Of Round,"Rosemary - Primerba, Paste",Butter - Unsalted
3,Macaroons - Two Bite Choc,Chicken - Soup Base,Sherry - Dry,Bread - Raisin Walnut Oval,Cinnamon Buns Sticky,Cheese - Mix,"Potatoes - Instant, Mashed",Thermometer Digital,Cocktail Napkin Blue,Appetizer - Sausage Rolls,...,Eggplant - Asian,Sardines,Banana Turning,Cake - Box Window 10x10x2.5,Bay Leaf,"Garlic - Primerba, Paste","Veal - Inside, Choice",Bread - Calabrese Baguette,Scallops - 10/20,Wine - Ej Gallo Sierra Valley
4,Flavouring - Orange,Isomalt,Beer - Sleemans Cream Ale,Banana Turning,Pop Shoppe Cream Soda,Sauce - Hollandaise,Table Cloth - 53x69 Colour,Wine - Hardys Bankside Shiraz,Bread - Raisin Walnut Oval,Quiche Assorted,...,Lime Cordial - Roses,"Chicken - Leg, Boneless",Wine - Vidal Icewine Magnotta,Scallops 60/80 Iqf,Veal - Sweetbread,"Wine - Red, Harrow Estates, Cab",Bread Crumbs - Japanese Style,Cheese - Wine,"Oregano - Dry, Rubbed",Wine - Blue Nun Qualitatswein

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.